<% layout('layouts/boilerplate') %>
    <h1>Edit Tournament</h1>
    <form action="/tournaments/<%= tournament._id %>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="tournament[name]" value="<%= tournament.name %>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="tournament[description]" value="<%= tournament.description %>">
        </div>
        <button>Save Tournament</button>
    </form>
    <a href="/tournaments/<%= tournament._id %>">Back to Tournament</a>