<% layout('layouts/boilerplate') %>
    <h1>All Tournaments</h1>
    <div>
        <a href="/tournaments/new">Add Tournament</a>
    </div>
    <ul>
        <% for(let tournament of tournaments) {%>
            <li>
                <a href="/tournaments/<%= tournament._id %>">
                    <%= tournament.name %>
                </a>
            </li>
            <% } %>
    </ul>