<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tournaments index</title>
</head>

<body>
    <h1>All Tournaments</h1>
    <div>
        <a href="/tournaments/new">Add Tournament</a>
    </div>
    <ul>
        <% for(let tournament of tournaments) {%>
            <li>
                <a href="/tournaments/<%= tournament._id %>">
                    <%= tournament.name %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>