<% layout('layouts/boilerplate') %>
    <form action="/tournaments" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" id="name" name="tournament[name]">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" id="description" name="tournament[description]">
        </div>
        <button>Add Tournament</button>
    </form>
    <a href="/tournaments">All Tournaments</a>