<% layout('layouts/boilerplate') %>
    <h1 class="text-center">Login</h1>
    <form action="/login" class="validated-form" method="POST" novalidate>
        <div class="mb-3 text-center">
            <label class="form-label" for="username">Username</label>
            <input class="form-control text-center" type="text" id="username" name="username" required>
        </div>
        <div class="mb-3 text-center">
            <label class="form-label" for="password">Password</label>
            <input class="form-control text-center" type="password" id="password" name="password" required>
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-lg">Login</button>
        </div>

    </form>