<% layout('layouts/boilerplate') %>
    <h1 class="text-center mb-3">Register</h1>
    <form action="/register" class="validated-form" method="POST" novalidate>
        <div class="mb-3 text-center">
            <label class="form-label" for="username">Username</label>
            <input class="form-control text-center" type="text" id="username" name="username" required>
        </div>
        <div class="mb-3 text-center">
            <label class="form-label" for="email">Email</label>
            <input class="form-control text-center" type="email" id="email" name="email" required>
        </div>
        <div class="mb-3 text-center">
            <label class="form-label" for="steam_url">Your Steam Profile URL</label>
            <input class="form-control text-center" type="string" id="steam_url" name="steam_url" required>
        </div>
        <div class="mb-3 text-center">
            <label class="form-label" for="password">Password</label>
            <input class="form-control text-center" type="password" id="password" name="password" required>
        </div>
        <div class="text-center">
            <button class="btn btn-success btn-lg">Register</button>
        </div>
    </form>